<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Двухфакторная аутентификация</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="box">
    <h2>Двухфакторная защита</h2>

    <p>Введите шестизначный код подтверждения</p>

    <form method="POST" action="/verify">
        <input
            name="code"
            type="text"
            placeholder="Код подтверждения"
            required
            maxlength="6"
            pattern="\d{6}"
            inputmode="numeric"
            style="text-align: center; letter-spacing: 2px;"
        >
        <button type="submit">Подтвердить вход</button>
    </form>

    <!-- ВОТ ЭТО ОБЯЗАТЕЛЬНО -->
    {{ERROR}}

</div>

</body>
</html>