<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="box">
    <h2>Login</h2>

    <form method="POST" action="/login">
        <input name="login" placeholder="Enter login" required>
        <input name="password" type="password" placeholder="Enter password" required>
        <button type="submit">Login</button>
    </form>

    <div class="hint">
        🔹 login: admin<br>
        🔹 password: admin123<br>
        🔹 login: user<br>
        🔹 password: user123<br>
    </div>
</div>

</body>
</html>